.mica-flex-content {
  position: relative;

  .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  > .btn {
    display: block;
    margin-top: 12px;
    color: #0ae;
  }
}
