.mica-virtual-list {
  position: relative;
  flex: 1;

  > .mica-empty-page {
    padding-top: 40px;
  }

  .mica-virtual-row {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}
