.swipe-action-example {
  .mica-swipe-action {
    width: 690px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 30px;
    transform: rotate(0deg);

    .trigger > span {
      display: block;
      line-height: 100px;
      text-align: center;
      color: #fff;
      background-color: #0db789;
    }

    .action > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      color: #fff;
      background-color: #fb6165;
    }
  }
}
