
.mica-video-example {
  > div {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 30px;
    margin: 0 0 10px;
    text-align: center;
    color: #666;
    font-weight: normal;
  }

  .mica-video {
    height: 6rem;
  }

  .video-1 {
    .video-handler,
    .overlay-play {
      // display: none;
    }
  }
}
