.load-more-example {
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  h1 {
    margin-bottom: 10px;
  }

  .mica-lazy-load {
    width: 200px;
    height: 200px;
  }
}
