@font-face {
  font-family: "iconFont";
  src: url('fonts/iconfont.woff') format('woff'), url('fonts/iconfont.ttf') format('truetype');
}

.icon-font {
  // stylelint-disable-next-line
  font-family: "iconFont" !important;
  font-size: 1.7em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  // stylelint-disable-next-line
  -webkit-text-stroke-width: 0.2PX;
  -moz-osx-font-smoothing: grayscale;

  &.icon- {
    &appreciate::before { content: "\e644"; }

    &check::before { content: "\e645"; }

    &close::before { content: "\e646"; }

    &edit::before { content: "\e649"; }

    &emoji::before { content: "\e64a"; }

    &favor-fill::before { content: "\e64b"; }

    &favor::before { content: "\e64c"; }

    &loading::before { content: "\e64e"; }

    &loading1::before { content: "\e609"; }

    &location-fill::before { content: "\e650"; }

    &location::before { content: "\e651"; }

    &phone::before { content: "\e652"; }

    &round-check-fill::before { content: "\e656"; }

    &round-check::before { content: "\e657"; }

    &round-close-fill::before { content: "\e658"; }

    &round-close::before { content: "\e659"; }

    &search::before { content: "\e65c"; }

    &time-fill::before { content: "\e65e"; }

    &time::before { content: "\e65f"; }

    &unfold::before { content: "\e661"; }

    &warn-fill::before { content: "\e662"; }

    &warn::before { content: "\e663"; }

    &camera-fill::before { content: "\e664"; }

    &camera::before { content: "\e665"; }

    &comment-fill::before { content: "\e666"; }

    &comment::before { content: "\e667"; }

    &like-fill::before { content: "\e668"; }

    &like::before { content: "\e669"; }

    &back::before { content: "\e679"; }

    &cascades::before { content: "\e67c"; }

    &list::before { content: "\e682"; }

    &more::before { content: "\e684"; }

    &scan::before { content: "\e689"; }

    &question-fill::before { content: "\e690"; }

    &question::before { content: "\e691"; }

    &pic::before { content: "\e69b"; }

    &filter::before { content: "\e69c"; }

    &top::before { content: "\e69e"; }

    &right::before { content: "\e6a3"; }

    &refresh::before { content: "\e6a4"; }

    &more-android::before { content: "\e6a5"; }

    &delete-fill::before { content: "\e6a6"; }

    &qr-code::before { content: "\e6b0"; }

    &remind::before { content: "\e6b2"; }

    &delete::before { content: "\e6b4"; }

    &address-book::before { content: "\e6bd"; }

    &present::before { content: "\e6d3"; }

    &square-check-fill::before { content: "\e6d4"; }

    &square::before { content: "\e6d5"; }

    &square-check::before { content: "\e6d6"; }

    &round::before { content: "\e6d7"; }

    &round-add-fill::before { content: "\e6d8"; }

    &round-add::before { content: "\e6d9"; }

    &fold::before { content: "\e6de"; }

    &appreciate-fill::before { content: "\e6e3"; }

    &info-fill::before { content: "\e6e4"; }

    &info::before { content: "\e6e5"; }

    &recharge-fill::before { content: "\e6ec"; }

    &recharge::before { content: "\e6ed"; }

    &vip-card::before { content: "\e6ee"; }

    &wifi::before { content: "\e6f2"; }

    &share::before { content: "\e6f3"; }

    &barcode::before { content: "\e6fb"; }

    &countdown-fill::before { content: "\e707"; }

    &countdown::before { content: "\e708"; }

    &notice-fill::before { content: "\e709"; }

    &notice::before { content: "\e70a"; }

    &qiang::before { content: "\e70b"; }

    &female::before { content: "\e71a"; }

    &male::before { content: "\e71c"; }

    &camera-add::before { content: "\e724"; }

    &camera-add-fill::before { content: "\e727"; }

    &mark-fill::before { content: "\e730"; }

    &mark::before { content: "\e731"; }

    &post::before { content: "\e759"; }

    &radio-box-fill::before { content: "\e763"; }

    &add::before { content: "\e767"; }

    &move::before { content: "\e768"; }

    &emoji-fill::before { content: "\e78d"; }

    &ask-fill::before { content: "\e7c9"; }

    &ask::before { content: "\e7ca"; }
  }
}

