.load-more-example {
  div.item {
    text-align: center;
    flex-direction: column;

    h1 {
      margin: 10px 0;
      font-size: 44px;
    }

    .mica-lazy-load {
      width: 180px;
      height: 180px;
    }
  }
}
