#mica-qrcode {
  .mica-modal .modal-wrap {
    width: 450px;
    height: 450px;
  }

  .icon-qr-code {
    position: fixed;
    right: -20px;
    bottom: 200px;
    font-size: 60px;
    opacity: 0.5;
    z-index: 99999;
  }

  .icon-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #666;
  }
}
