.drawer-example {
  .modal-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    padding: 60px 0;
    box-sizing: border-box;

    .mica-lazy-load {
      width: 434px;
      height: 297px;
      margin: 30px 0;
    }
  }
}
