.modal-example {
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 514px;
    height: 514px;
    padding: 60px 0;
    box-sizing: border-box;

    > div {
      flex: auto;
      margin-top: 30px;
      overflow: auto;
    }

    .mica-lazy-load {
      width: 434px;
      height: 297px;
    }
  }
}
